<link rel="stylesheet" href="./../../src/style/timer.css" />
<script src="./../../src/js/timer.js"></script>
<link
  rel="stylesheet"
  href="./../../node_modules/bootstrap/dist/css/bootstrap.min.css"
/>
<div style="margin: 0;">
  <div id="pomodoro-app">
    <div id="container">
      <div id="timer">
        <div id="time">
          <span id="minutes">25</span>
          <span id="colon">:</span>
          <span id="seconds">00</span>
        </div>
        <div id="filler"></div>
      </div>

      <div id="buttons">
        <button type="button" class="btn btn-success" id="work">
          Start
        </button>
        <button type="button" class="btn btn-primary" id="shortBreak">
          Short Break
        </button>
        <button type="button" class="btn btn-warning" id="longBreak">
          Long Break
        </button>
        <button type="button" class="btn btn-danger" id="stop">Stop</button>
      </div>
    </div>
  </div>
</div>
